h2,
footer p {
    text-align: center;
}
footer a {
    display: inline-block;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
pre {
    color: #F00;
}
#ahs-logo {
    border-radius: 10px;
    box-shadow: 2px 2px 5px #999;
    max-width: 100%;
}

/* jQuery Mobile override */
.ui-li-count {
    text-align: center;
}